
<header>
    <div  class=" header__container" >
        <nav>
            <button mat-button [matMenuTriggerFor]="menu">Menu</button>
            <mat-menu #menu="matMenu" class="mat__menu">
            <button mat-menu-item class="mat__item">
                <li><a href="#main" class="header__link">Inicio</a></li>
            </button>
            <button mat-menu-item class="mat__item">
                <li><a href="#skills" class="header__link">Lenguajes</a></li>
            </button>
            <button mat-menu-item class="mat__item">
                <li><a href="#footer" class="header__link">Contacto</a></li>
            </button>
            </mat-menu>
        </nav>
    </div>
</header>