html{
    scroll-behavior: smooth;
}
html, body{
    margin: 0;
    padding: 0;
    height: 100vh;
    font-size: 1.2rem;
}
p, h1,h2{
    margin: 0;
}
.grid{
    display: grid;
}
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
